<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WJ Clubs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='clubslist.css')}}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>



</head>
<style>
    body {
      margin: 0;
      padding: 0;
      padding-top: 70px; /* Adjust based on header height */
      padding-bottom: 50px; /* Adjust based on footer height */
    }
    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
</style>

<body>
    <!--- COPIED BOOTSTRAP NAVBAR CODE -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <!---This is the image -->
      <a href="{{ url_for('index') }}"> </a>
      <img src="https://s3-us-west-2.amazonaws.com/sportshub2-uploads-prod/files/sites/292/2017/07/14175618/17673.png"
        style="width:50px; height: 42px; margin-right: 10px;">
      <!-- This is the title -->
      <a class="navbar-brand" href="{{ url_for('index') }}">WJ Clubs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- This is the list of tabs -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- This is the home tab -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <!-- This is the second tab -->
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="https://www.montgomeryschoolsmd.org/schools/wjhs/">WJ Main
              Page</a>
          </li>
          <!-- Start a club navbar item -->
          <li class="nav-item">
            <a target="_blank" class="nav-link"
              href="https://www.montgomeryschoolsmd.org/schools/wjhs/students/">Start
              a Club!</a>
          </li>
          <!-- Email list navbar item -->
          <li class="nav-item">
            <a target="_blank" class="nav-link"
              href="https://www.montgomeryschoolsmd.org/schools/wjhs/staff/staff-directory/?processlevel=04424">Staff
              Email List</a>
          </li>
          <!-- Booster club link navbar item -->
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="https://wjboosterclub.org/">Booster Club</a>
          </li>
          <!-- Begin dropdown -->
           <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </button>
              <!-- Contents in dropdown -->
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="redirectToCategory('')">All Clubs</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Interest')">Interest</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Competitive')">Competitive</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Arts')">Arts</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Charity Activism')">Charity / Activism</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Games Sports')">Games / Sports</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Dance')">Dance</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Culture')">Culture</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Music')">Music</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('Academic')">Academic</a>
                <a class="dropdown-item" href="#" onclick="redirectToCategory('STEM')">STEM</a>
              </div>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </nav>
          <!-- End dropdown -->

  <center>
    <!--<h1> Try our search feature to find clubs faster! </h1>
    <h5> You can also ask our Club Bot to help you find the right club for you.<br> Just write your prompt in the search bar. </h5>
  -->
  <h1> All Clubs </h1>
    <!-- Imported button -->
    <div class="search" style="margin-top:25px;">
        <div class="search-box">
          <div class="search-field">
            <input id="query" placeholder="Search..." class="input" type="text">
            <div class="search-box-icon">
              <button class="btn-icon-content" id="search-button">
                <i class="search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <path
                      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                      fill="#fff"></path>
                  </svg>
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <h5 style="margin-top:10px; color: rgb(82, 86, 88)"> Showing {{ total_clubs }} out of {{ num_clubs }} clubs. </h5>
      <!-- <input class="importedInput" name="text" placeholder="Search..." type="search"> -->
    <!-- End imported button -->
  </center>
  <script>
    function performSearch() {
      event.preventDefault();
      var query = document.getElementById('query').value;

      // Remove special characters
      query = query.replace(/[^a-zA-Z0-9 ]/g, '');

      // Check if the string is empty or just spaces
      if (query.trim() === '') {
        window.location.href = '/clubslist';
      } else {
        window.location.href = `/clubslist/${query}`;
      }
    }

    document.getElementById('search-button').addEventListener('click', performSearch);

    document.getElementById('query').addEventListener('keypress', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        performSearch();
      }
    });

    document.getElementById('search').addEventListener('submit', function(event) {
        event.preventDefault();
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        document.getElementById('output').innerText = `Name: ${name}, Email: ${email}`;
    });
</script>

<!-- This block spawns in all cards -->
<div class="container-fluid container-custom" style="margin-top:50px;">
  {% set counter = 0 %}
  <div class="row">
  {% for club in clubs %}
    {% if club['Sponsor Replied']== "True" and club['Added to Website'] == "True" %}
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg shadow p-3" style="background-color:#ccd6d2; border-width: 2px; border-color: lightslategrey;">
          <div class="card-img-wrapper">
            <img src="{{ url_for('static', filename=club['Image Path']) }}" style="height:auto;" class="card-img-top border border-dark" alt="{{ club['Club Name'] }}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ club['Club Name'] }}</h5>
            <p class="card-text">{{ club['Purpose'] }}</p>
            <p class="card-text"><small class="text-muted">{{ club['Select all the days of the week that your club meets'] }} during {{ club['When does your club meet?'] }} in {{ club['Club Meeting Location'] }}</small></p>
            <p class="card-text"><small class="text-muted">{{ club['Social Media Handles (optional)'] }}</small></p>
          </div>
        </div>
      </div>
      {% set counter = counter + 1 %}
      {% if counter % 3 == 0 %}
        </div> <!-- Close row after 3 cards -->
        <div class="row"> <!-- Open a new row -->
      {% endif %}
    {% endif %}
  {% endfor %}
  </div> <!-- Close the last row -->
</div>
<!-- end block -->

  <footer class="footer d-block mt-auto">
    <center><span>All clubs/organizations are inclusive of all students regardless of sex or gender identity. Website
        created and maintained by Walter Johnson Web Development Club & AI Club.</span></center>
  </footer>
  <script>
    function redirectToCategory(category) {
        if (category){
            window.location.href = `/clubslist/${category}`;
        }
        else {
            window.location.href = '/clubslist';
        }
    }

    /*socket.on('gpt_description', function(data) {
            console.log('Received GPT description:', data.description);
            var aiDescriptionElement = document.getElementById('ai-description');
            var descriptionHtml = marked.parse(data.description);
            var descriptionDiv = document.createElement('div');
            descriptionDiv.innerHTML = descriptionHtml;
            aiDescriptionElement.appendChild(descriptionDiv);
        });*/

        socket.on('gpt_description', function(data) {
      console.log('Received GPT description:', data.description);
      var aiDescriptionElement = document.getElementById('ai-description');
      var descriptionHtml = marked.parse(data.description);
      aiDescriptionElement.innerHTML += descriptionHtml;
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBkW2vHBhc8qNf3WmGIKj9gZARGoD8wMzGlXIIJl"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>

</html>
